/*Background color, common on all pages except landing page*/

i,i::before,i::after{
    font-family: unset;
}

.wrap{
    background: rgb(255, 213, 186);
}


/* Styling code below for details page */
.container {
    padding: 20px 0;
    max-width: 1000px;
}

.detailed-title {
    display: inline-block;
    font-size: 3.5em;
    position: relative;  
}

.parkTitle{
    text-align: center;
    margin: 40px 0 70px;
}

.banner {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.description {
    position: absolute;
    /* min-height: 80%; */
    width: 45%;
    left: -8%;
    top: -8%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: rgba(0, 0, 0,0.4);
    color: #fff;
    font-size: 1.2em;
    border-radius: 20px;
}

.slideShowPic {
    border-radius: 10px;
    width: 70%;
    transform: translateX(5%);
    overflow: hidden;
}

.swiper {
    height: 400px;  
}

.swiper-slide img{
    width: 100%;
    height: 100%;
}
.slide-bg{
    background-size: cover !important;
}

.info-content{
    width: 95%;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-slide{
    display: block;
    text-decoration: unset;
    border: 1px solid rgb(128, 187, 255);
    padding: 10px 20px 20px;
    color: #3150ff;
    background: rgba(126, 240, 255, 0.6);
    transition: ease-in-out 0.15s;
    margin-top: 15px;
    font-weight: 600;
    border-radius: 6px;
}

.info{
    margin: 120px 0px;
}

.info-slide:hover, .info-slide.active{
    background: rgba(41, 212, 235, 0.7);
}
.info-slide.active{
    border-radius: 6px 6px 0px 0px;
}

.info-content li p{
    border: 1px solid rgb(190, 255, 232);
    padding: 15px;
    display: none;
    font-size: 18px;
    line-height: 26px;
    background: rgba(138, 255, 236, 0.6);
    border-radius: 0px 0px 6px 6px;
}

.webUrl{
    padding: 5px 10px;
    font-weight: 600;
}

.webUrl:hover{
    color: #005999;
}

.embedMap{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.thingsToDo{
    margin: 80px 0;
}

.thingsItem{
    height: 350px;
    display: flex;
    margin: 40px 0;
    box-shadow: rgb(116, 115, 115) 0 1px 5px 0.2px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 !important;
}
.thingsItem:nth-child(even){
    flex-direction: row-reverse; 
}

.thingsItem:hover .thingsImage img{
    transform: scale(1.1);
}

.thingsDescription{
    padding: 0 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thingsDescription h4{
    font-size: 1.6em;
}
.thingsDescription p{
    font-size: 1.2em;
    overflow-y:auto ;
    padding-right: 15px;
}

.thingsImage{
    padding: unset !important;
    overflow: hidden;
    display: flex;
}

.thingsItem:nth-child(odd) .thingsImage{
    justify-content: flex-end;
}


.thingsImage img{
    display: block;
    min-width: 50%;
    transition: 0.4s ease-in-out;
}

.slideWeather{
    width: 40%;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}

.slideWeatherBox{
    margin-top: 60px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slideWeatherBox::after{
    position: absolute;
    content: '';
    box-shadow: 0px 0px 15px 22px rgb(255, 213, 186);
    height: 80%;
    left: 0;
}
.slideWeatherBox::before{
    position: absolute;
    content: '';
    box-shadow: 0px 0px 15px 20px rgb(255, 213, 186);
    height: 80%;
    right: 0;
    z-index: 999;
}

.foreCastItem{
    margin-left: 0 !important;
    padding: 0 10px;
    margin: 10px 5px;
    color: rgb(0, 0, 0);
    background: rgb(154, 205, 255);
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.1em;
}

.foreCastItem:hover{
    cursor: grab;
}
.foreCastItem:active{
    cursor: grabbing;
}

.swiper-button-prev,
.swiper-button-next
{
    height: 100%;
    top: 0;
    margin-top: 0;
    padding: 0 30px;
    left: -90%;
    color: #fff;
    transition: 0.2s ease-in-out;
}
.swiper-button-next{
    left: unset;
    right: -90%;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    color: rgb(155, 155, 155);
}

.foreCastItem h3{
    font-size: 1.4em;
}

.weather-icon img {
    width: 40px;
}

/*Styling properties for favorite icon below */
.favorite-icon{
    font-size: 0.9em;
    transition: 0.2s ease-in-out;
}
.favorite-link{
    position: absolute;
    top: -60%;
}

.heartIcon{
    color: #ff0000 !important;
}

.favorite-link:hover .hoverNo{
    color: #ff0000 !important;
}

/* RWD design */
@media only screen and (max-width: 992px){
    .slideShowPic{
        width: 100%;
        transform: unset;
    }
    .description{
        width: 100%;
        left: -2%;
        top: unset;
        left: unset;
        bottom: 0;
        position: absolute;
        min-height: unset;
        border-radius: unset;
        padding: 10px 20px;
        pointer-events: none;
        border-radius: 0 0 10px 10px;
    }
    .swiper{
        height: 500px;
    }

    .swiper-button-next{
        right: -78%;
    }
    .swiper-button-prev{
        left: -78%;
    }

    .thingsItem{
        flex-direction: column !important;
        margin: 40px 30px;
        margin-left: unset !important;
        height: 500px;
        justify-content:end;
    }
    .thingsImage img{
        width: 100%;
    }
    .thingsList{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .thingsDescription p{
        height: 250px;
    }
}

@media only screen and (max-width: 600px){
    .thingsItem{
        height: 100%;
    }
    .thingsDescription p{
        height: unset;
    }
}