*,
*::after,
*::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Add CSS for fixed header and footer */
header {
    width: 100%;
}

.nav-bar {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    top: 0;
    z-index: 99;
    height: 70px;
    padding: 5px 20px;
}

.brand-logo {
    display: block;
    background: url(/assets/images/L.P\ original\ logo.png) center no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 90px;
    height: 100%;
}

.title {
    font-size: 1em;
    white-space: nowrap;
    text-indent: 101%;
    margin: 0;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.footer {
    text-align: center;
    border: 1px solid #000;
    padding: 10px 0;
    background: rgb(31, 31, 31);
    color: #fff;
}

.wrap{
    background: rgb(255, 213, 186);
}


/* Css below for detailPage.html */
.container {
    padding: 20px 0;
    border: 1px solid #000;
}

.detailed-title {
    font-size: 3em;
    border: 1px solid #000;
    margin-bottom: 70px;
    position: relative;  
}

.banner {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.description {
    position: absolute;
    min-height: 80%;
    width: 45%;
    left: -8%;
    top: -8%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: rgba(0, 0, 0,0.4);
    color: #fff;
    font-size: 1.2em;
    border-radius: 20px;
}

.slideShowPic {
    border-radius: 10px;
    width: 70%;
    transform: translateX(5%);
    overflow: hidden;
}

.swiper {
    height: 400px;  
}

.swiper-slide img{
    width: 100%;
    height: 100%;
}
.slide-bg{
    background-size: cover !important;
}

.info-content{
    width: 95%;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-slide{
    display: block;
    text-decoration: unset;
    border: 1px solid #ddd;
    padding: 10px 20px 20px;
    color: #005999;
    background: rgba(155, 154, 154, 0.6);
    transition: ease-in-out 0.15s;
    margin-top: 15px;
    font-weight: 600;
    border-radius: 6px;
}

.info{
    margin-bottom: 60px;
}

.info-slide:hover, .info-slide.active{
    background: rgba(125, 125, 125, 0.7);
}
.info-slide.active{
    border-radius: 6px 6px 0px 0px;
}

.info-content li p{
    border: 1px solid #ddd;
    padding: 15px;
    display: none;
    font-size: 18px;
    line-height: 26px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0px 0px 6px 6px;
}

.webUrl{
    padding: 5px 10px;
    font-weight: 600;
}

.webUrl:hover{
    color: #005999;
}

.embedMap{
    display: flex;
    justify-content: center;
}

.thingsItem{
    height: 350px;
    display: flex;
    margin: 40px 0;
    box-shadow: rgb(116, 115, 115) 0 1px 5px 0.2px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 !important;
}
.thingsItem:nth-child(even){
    flex-direction: row-reverse; 
}

.thingsItem:hover .thingsImage img{
    transform: scale(1.1);
}

.thingsDescription{
    padding: 0 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thingsDescription h4{
    font-size: 1.6em;
}
.thingsDescription p{
    font-size: 1.2em;
    overflow-y:auto ;
    padding-right: 15px;
}

.thingsImage{
    padding: unset !important;
    overflow: hidden;
    display: flex;
}

.thingsItem:nth-child(odd) .thingsImage{
    justify-content: flex-end;
}


.thingsImage img{
    display: block;
    min-width: 50%;
    transition: 0.4s ease-in-out;
}

.slideWeather{
    width: 40%;
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}

.slideWeatherBox{
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.slideWeatherBox::after{
    position: absolute;
    content: '';
    box-shadow: 0px 0px 15px 20px rgb(255, 213, 186);
    height: 80%;
    left: 0;
}
.slideWeatherBox::before{
    position: absolute;
    content: '';
    box-shadow: 0px 0px 15px 20px rgb(255, 213, 186);
    height: 80%;
    right: 0;
    z-index: 999;
}

.foreCastItem{
    border: 1px solid #000;
    margin-left: 0 !important;
    padding: 0 10px;
    margin: 10px 5px;
    color: #fff;
    background: rgb(116, 165, 255);
    border-radius: 8px;
    font-size: 1em;
}

.foreCastItem:hover{
    cursor: grab;
}
.foreCastItem:active{
    cursor: grabbing;
}

.swiper-button-prev,
.swiper-button-next
{
    height: 100%;
    top: 0;
    margin-top: 0;
    padding: 0 30px;
    left: -90%;
    color: #fff;
    transition: 0.2s ease-in-out;
}
.swiper-button-next{
    left: unset;
    right: -90%;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    color: rgb(155, 155, 155);
}

.foreCastItem h3{
    font-size: 1.4em;
}

.weather-icon img {
    width: 40px;
}

.favorite-icon{
    font-size: 1em;
    transition: 0.2s ease-in-out;
}
.favorite-link{
    position: absolute;
    right: 5%;
    top: -80%;
}

.favorite-link:hover .favorite-icon{
    color: #ff2121 !important;
}
.sidenav-overlay{
    z-index: 900;
}


@media only screen and (max-width: 992px){
    .slideShowPic{
        width: 100%;
        transform: unset;
    }
    .description{
        width: 100%;
        left: -2%;
        top: unset;
        left: unset;
        bottom: 0;
        position: absolute;
        min-height: unset;
        border-radius: unset;
        padding: 10px 20px;
        pointer-events: none;
        border-radius: 0 0 10px 10px;
    }
    .swiper{
        height: 500px;
    }

    .swiper-button-next{
        right: -78%;
    }
    .swiper-button-prev{
        left: -78%;
    }
    .thingsItem{
        flex-direction: column !important;
        margin: 40px 30px;
        margin-left: unset !important;
        height: 500px;
        justify-content:end;
    }
    .thingsImage img{
        width: 100%;
    }
    .thingsList{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .thingsDescription p{
        height: 250px;
    }
}

@media only screen and (max-width: 600px){
    .thingsItem{
        height: 100%;
    }
}