/* Background color common on all pages except landing page */
/*Code below for results list styling. Materialize/CSS styling conflict on background image format  overrided by !important. */
.container{
    min-height: 100vh;
}

body {
    background: rgb(255, 213, 186);
}

.resultsSection{
    max-width: 850px;
    margin: 0 auto;
}

.favoriteList {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.favorite-item{
    margin: 0 auto;
}

.description {
    height: 280px;
    background-size: 100% 100% !important;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
}

.description:hover {
    text-decoration: underline;
    background-size: 110% 110% !important;
}

.description-info {
    padding: 20px;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
}

.description h3 {
    font-size: 1.6em;
    font-weight: 600;
    margin: 0;
}

.sidenav-overlay{
    z-index: 900;
}

.pageBox{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pageBox li{
    margin: 0 5px;
}

.pageBox .hoverBtn:hover{
    background: rgb(254, 174, 174);
}

.pagination{
    width: unset;
}

.page i{
    pointer-events: none;
}

/* RWD design */
@media only screen and (max-width: 600px){
    .description{
        height: 320px;
    }
    .favoriteList{
        display: block;
    }
}