*,
*::after,
*::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS code below for fixed header and footer styling, common across all pages */
header {
    width: 100%;
}

.nav-bar {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    top: 0;
    z-index: 99;
    height: 70px;
    padding: 5px 20px;
}

.brand-logo {
    display: block;
    background: url(/assets/images/L.P\ original\ logo.png) center no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 90px;
    height: 100%;
}

.title {
    font-size: 1em;
    white-space: nowrap;
    text-indent: 101%;
    margin: 0;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.footer {
    text-align: center;
    border: 1px solid #000;
    padding: 10px 0;
    background: rgb(31, 31, 31);
    color: #fff;
}


/* Add CSS for fixed header and footer */


body {
    background: rgb(255, 213, 186);
}

.favoriteList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.description {
    height: 350px;
    background-size: 100% 100% !important;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 !important;
}

.resultsSection{
    /* max-width: 850px;
    margin: 0 auto; */
}

.description:has(.description-info:hover) {
    background-size: 110% 110% !important;
}

.description-info {
    padding: 20px;
    display: block;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
}

.description-info:hover {
    text-decoration: underline;
}

.description h3 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

.sidenav-overlay{
    z-index: 900;
}



/*.resultsList li {
    height: 500px;
    border: 1px solid black;
    display: flex;
    align-items: flex-end;

  
  .description {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 40px 0;
  }
  
  .parkName {
    border: 1px solid black;
    padding: 10px;
  }
  
  .parkDescription {
    border: 1px solid black;
    padding: 10px;
  }*/

  
@media only screen and (max-width: 600px){
    .description{
        height: 320px;
    }
    .favoriteList{
        display: block;
    }
}