*,
*::after,
*::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS code below for fixed header and footer styling, common across all pages */
header {
    width: 100%;
}

.nav-bar {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    top: 0;
    z-index: 99;
    height: 70px;
    padding: 5px 20px;
}

.brand-logo {
    display: block;
    background: url(/assets/images/L.P\ original\ logo.png) center no-repeat;
    background-size: contain;
    overflow: hidden;
    width: 90px;
    height: 100%;
}

.title {
    font-size: 1em;
    white-space: nowrap;
    text-indent: 101%;
    margin: 0;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.footer {
    text-align: center;
    border: 1px solid #000;
    padding: 10px 0;
    background: rgb(31, 31, 31);
    color: #fff;
}

/* Background color common on all pages except landing page */


/*Code below for results list styling. Materialize/CSS styling conflict on background image format  overrided by !important. */
/* Add CSS for fixed header and footer */


body {
    background: rgb(255, 213, 186);
}

.resultsSection{
    max-width: 850px;
    margin: 0 auto;
}

.resultsList {
    margin: 0 20px;
}

.description {
    height: 500px;
    background-size: 100% 100% !important;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
}

.description:has(.description-info:hover) {
    background-size: 110% 110% !important;
}

.description-info {
    padding: 20px;
    display: block;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
}

.description-info:hover {
    text-decoration: underline;
}

.description h3 {
    font-size: 2.2em;
    font-weight: 600;
    margin: 0;
}

.description p {
    margin: 20px 0 0 0;
    font-size: 1.1em;
    line-height: 1.5em;
}

.sidenav-overlay{
    z-index: 900;
}





  
@media only screen and (max-width: 600px){
    .parkDescription{
        display: none;
    }
    .description{
        height: 300px;
    }
    .description-info{
        padding: 10px 20px;
    }
}
