*,
*::after,
*::before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS code below for fixed header and footer styling, common across all pages*/
header {
    width: 100%;
}

.nav-bar {
    background: rgba(0, 0, 0, 0.3);
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.brand-logo {
    background: #000;
    overflow: hidden;
    width: 90px;
    height: 100%;
}

.title {
    font-size: 1em;
    white-space: nowrap;
    text-indent: 101%;
    margin: 0;
}

.footer {
    text-align: center;
    border: 1px solid #000;
    padding: 10px 0;
    background: rgb(31, 31, 31);
    color: #fff;
}

/* CSS code for background cover/image format and styling */
.content {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1515601915049-08c8836c2204?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
    center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS code for search section format/styling, including transparecy properties */
.search-area {
  border: 1px solid #000;
  height: 200px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 60px;
}

.search-input {
  border: 1px solid #000;
  width: 400px !important;
  color: #fff;
}