*,*::after,*::before{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add CSS for fixed header and footer */
      
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
}

.content{
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1515601915049-08c8836c2204?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-area{
  border: 1px solid #000;
  height: 200px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 60px;
}

.search-input{
  border: 1px solid #000;
  width: 400px !important;
  color: #fff;
}

.footer{
  text-align: center;
  border: 1px solid #000;
  padding: 10px 0;
  background: rgb(31, 31, 31);
  color: #fff;
}

.nav-bar{
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
}